*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
    --title-color: rgb(135, 31, 254);
    --bg-color-list: rgba(255, 255, 255, 0.774);   
    --border-list: 1px solid rgb(255, 255, 255);
    --box-shaadow: 4px 4px 2px rgb(135, 31, 254);
    --bg-header: rgb(135, 31, 254);
    --bg-menu: #871ffe;
    --box-shadow-menu: rgb(0, 0, 0);
    --mode-bg-url: url(./assets/moon-stars.svg);


    /*hover*/
    --border-list-hover: 2px solid rgb(255, 255, 255);
    --bg-color-list-hover: rgba(135, 31, 254, 0.506);
    --text-color-hover: rgb(255, 255, 255);
    --bg-color-icon: rgb(135, 31, 254);

}

.light{
    --bg-color: rgb(217, 217, 217);
    --text-color: rgb(0, 0, 0);
    --bg-color-list: ;
    --border-list: ;
    --mode-bg-url: url(./assets/sun.svg);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color)
}

#inicio{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

header{
    width: 100vw;
    height: 100px;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    padding: 0 40px;
    z-index: 10;
        
}

.logo img{
    width: 400px;
    margin-top: 40px;
}

#mobile-btn{
    display: none;
}

#menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

#menu a{
    display: block;
}

.list{
    width: 150px;
    padding: 5px;
    background-color: var(--bg-color-list);
    border-radius: 9px;
    border: var(--border-list);
    text-align: center;
    box-shadow: var(--box-shaadow);
}

.list:hover{
    border: var(--border-list-hover);
    background-color: var(--bg-color-list-hover);
    color: var(--text-color-hover);
}

a{
    text-decoration: none;
}

#inicio .frase{
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(40%);
    
}

.frase .words{
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    text-align: left;
    position: absolute;
    transform: translateY(60%);
    font-size: 30px;
    text-shadow: 6px 6px 5px black;
}

.words .neg{
    letter-spacing: 15px;
}

.frase img{
    margin-top: 0px;
    width: 700px;
}

footer{
    width: 100vw;
    justify-content: center;
    margin-top: 200px;
    position: relative;
    display: flex;
    
}

.footer .icons{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.footer .icons .ion{
    font-size: 40px;
    color: var(--text-color);
}

.footer .icons .ion:hover{
    background-color: var(--bg-color-icon);
    padding: 10px;
    border-radius: 50%;
}

#sobre{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
#text{
    width: 80%;
    height: 400px;
    text-align: left;
    align-items: center;
}

#text h1{
    font-size: 40px;
    color: var(--title-color);
}
#text p{
    margin-top: 10px;
    font-size: 20px;
}

.perfil{
    
    margin: 0 10px 0 30px;
}

.perfil img{
    width: 90%;
}

.skills{
    margin-left: 20px;
    height: 100vh;
    width: 50%;
    background-color: #871ffee3;
}

.title-skills{
    font-size: 30px;
    margin-top: 30px;
}

.skills .skills-image{
position: relative;
transform: translateY(100%);
right: 70px;
width: 500px;
}

#skills-icons{
    display: flex;
    flex-wrap: wrap;
    margin: 60px 10px 0 0;
    justify-content: center;
    gap: 60px;
}

.conhecimentos{
    text-align: center;
    color: black;
    font-size: 20px;
}
.conhecimentos img{
    width: 150px;
}

.diferenciais{
    display: flex;
    height: 200px;
    padding: 100px;
    justify-content: center;
}

.diferenciais button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 300px;
    height: 60px;
    border-radius: 9px;
    background-color: var(--bg-color-list);
    border: 2px solid white;
    box-shadow:4px 4px 4px black ;
}

.diferenciais button img{
    width: 40px;
    margin-bottom: 2px;
}

.diferenciais button{
    font-size: 20px;
}

.diferenciais2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 46%;
    position: absolute;
    right: 1.4%;
    transform: translateY(-100%);
    border-radius: 99px;
    border: 1px solid black;
    box-shadow: 6px 6px 6px black;
}

.close{
    height: 100px;
}
.diferenciais2 button{
    height: 40px;
    width: 40px;
    font-size: 30px;
    margin:40px;
    border-radius: 9px;
    background-color: #e71d27;
}

.diferenciais2 span{
    margin-top: 52px;
    width: 50px;
    color: black;
    position: absolute;
    left: 100px;
}

.qualidades{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transform: translateY(-8%);
    gap: 20px;
    color: black;
    margin: 0px 20px;
    justify-content: center;    
}

.qualidades1 img{
    width: 60px;
}

.txtqualidade{
    width: 160px;
}

.txtqualidade p{
    text-indent: 10px;
}


/*Tablets*/
@media (min-width: 768px) and (max-width: 1200px){
    header{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        position: absolute;
        top: 120px;
        position: fixed;
    }

    #navegar{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
   
    .list{
        width: 130px;
    }

    #inicio .frase{
        margin-top: 100px;
        align-content: center;
        width: 100vw;
    }
    .frase .words{
        font-size: 24px;
    }
    .frase img{
        width: 600px;
    }
}

#sobre{
    width: 100vw;
    height: 100vh;
}

/*Smartphones*/
@media (max-width: 767px) and (min-width:530px){ 
    #navegar{
        width: 100vw;
        height: 100px;
        position: fixed;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }

    #navegar #mobile-btn{
        width: 150px;
        height: 40px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin: 30px 50px;
        background-color: rgba(255, 255, 255, 0.774);
        border: 2px solid white;
        border-radius: 9px;
        box-shadow: 4px 4px 4px var(--bg-menu);

    }

    #menu{
        width: 100vw;
        display: flex;
        gap: 2px;
        height: 0;

        visibility: hidden;
    }

    .list{
        visibility: hidden;
        width: 100vw;
        padding: 5px;
        background-color: var(--bg-color-list);
        border-radius: 0px;
        border: var(--border-list);
        text-align: center;
        box-shadow: none;
        position: relative;
        z-index: 1000;
        
    }

    #lista{
        visibility: hidden;
    }

    #navegar.active #mobile-btn{
        position: absolute;
        z-index: 1000;
        box-shadow: 4px 4px 4px var(--box-shadow-menu);
    }

    #navegar.active #menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 80px;
        background-color: var(--bg-header);
        height: 218px;
        visibility: visible;
    }

    #navegar.active .list{
        visibility: visible;    
    }

    

    .logo img{
        width: 300px;  
    }

    #inicio .frase{
        margin-top: 100px;
    }
    .frase .words{
        position: absolute;
        font-size: 22px;
    }
    .frase img{
        width: 500px;
        
    }
}

@keyframes menu-in{
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}

@keyframes menu-on{
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}

@media (max-width: 529px){
    #navegar{
        width: 100vw;
        height: 100px;
        position: fixed;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        background-color: rgb(135, 31, 254);
    }
    #navegar #mobile-btn{
        width: 150px;
        height: 40px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin: 30px 50px;
        background-color: rgba(255, 255, 255, 0.774);
        border: 2px solid white;
        border-radius: 9px;
        box-shadow: 4px 4px 4px var(--bg-menu);
        box-shadow: 4px 4px 4px var(--box-shadow-menu);

    }
    #menu{
        width: 100vw;
        display: flex;
        gap: 2px;
    }

    .list{
        visibility: hidden;
        width: 100vw;
        padding: 5px;
        background-color: var(--bg-color-list);
        border-radius: 0px;
        border: var(--border-list);
        text-align: center;
        box-shadow: none;
        position: relative;
        z-index: 1000;
    }

    #navegar.active #mobile-btn{
        position: absolute;
        z-index: 1000;
    }

    #navegar.active #menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 100px;
        background-color: var(--bg-header);
        position: absolute;
        
    }

    #navegar.active .list{
        visibility: visible;
        position: relative; 
    }
    .logo{
        position: absolute;
        transform: translateY(100%);
    }
    #inicio .frase{
        margin-top: 150px;
    }

    .frase .words{
        position: absolute;
        transform: translateY(80%);
        font-size: 20px;
    }
    .frase img{
        width: 460px;
    }
}

